In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [9]:
# Read the csv file into a pandas DataFrame

starbucks_census = pd.read_csv('Datasets/starbucks_vs_cafe_count.csv')
starbucks_census.head()

,State/Province,Postcode,Starbucks Count,City,Country,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Cafe Count
0,AK,99501.0,2,Anchorage,US,61.22,-149.89,17213.0,38.3,54579.0,39690.0,0
1,AK,99502.0,4,Anchorage,US,61.18,-149.95,23649.0,32.8,87250.0,39021.0,0
2,AK,99503.0,1,Anchorage,US,61.18,-149.88,14107.0,34.0,46819.0,27693.0,0
3,AK,99504.0,5,Anchorage,US,61.23,-149.74,42189.0,31.3,77132.0,31811.0,0
4,AK,99505.0,1,Fort Richardson,US,61.26,-149.68,6479.0,21.6,51582.0,19267.0,0

In [11]:
starbucks_census[starbucks_census["City"] == "Chicago"].head()

,State/Province,Postcode,Starbucks Count,City,Country,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Cafe Count
2235,IL,60191.0,1,Chicago,US,41.97,-88.00,14469.0,41.4,62621.0,29283.0,0
2303,IL,60601.0,11,Chicago,US,41.89,-87.62,11905.0,36.2,102254.0,94529.0,0
2304,IL,60602.0,8,Chicago,US,41.88,-87.62,1294.0,25.9,57368.0,44580.0,0
2305,IL,60603.0,5,Chicago,US,41.88,-87.63,1076.0,27.1,122031.0,101680.0,0
2306,IL,60604.0,4,Chicago,US,41.88,-87.62,545.0,46.4,151731.0,162676.0,0

In [12]:
# Assign the data to X and y
# Note: Sklearn requires a 7 x 1 array of values
# so we use reshape to create this

X = starbucks_census["Household Income"].values.reshape(-1, 1)
y = starbucks_census["Starbucks Count"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)

Shape:  (6047, 1) (6047, 1)

In [13]:
# Assign the data to X and y
# Note: Sklearn requires a 7 x 1 array of values
# so we use reshape to create this

X = starbucks_census.Starbucks Count.values.reshape(-1, 1)
y = starbucks_census.Household Income.values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)
X

SyntaxError: invalid syntax (<ipython-input-13-96e64c401e95>, line 5)